<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="preload" href="https://i.imgur.com/e29crnp.png" as="image" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="intro">
      <div class="img"></div>
      <div class="grad"></div>
      <div class="grad2"></div>
      
      <div class="form">
        {% block content %}
            {% with messages  = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="flash">
                            <p>{{ msg }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endblock %}
        <form action="/login" method="post">
          <div id="title" class="title">login</div>
          <input
            type="text"
            name="uname"
            id="uname"
            placeholder="username"
            required
            autocapitalize="off"
            autocomplete="off"
          />
          <br />
          <input
            type="password"
            name="pass"
            id="pass"
            placeholder="password"
            required
            autocapitalize="off"
            autocomplete="off"
          />
          <br />
          <div class="new-user">
            <a href="/signup" class="signup">New User ?</a>
          </div>
          <br />
          <button
            id="btn"
            type="submit"
            onmouseover="onHover()"
            onmouseout="onMouseOut()"
          >
            &#129130;
          </button>
        </form>
      </div>
    </div>
    <script>
      function onHover() {
        document.getElementById("title").style.backgroundSize =
          "0 0.1em, 100% 0.1em";
      }
      function onMouseOut() {
        document.getElementById("title").style.backgroundSize =
          "100% 0.1em, 0 0.1em";
      }
    </script>
  </body>
</html>
