@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "League Spartan", sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

.intro {
    width: 100vw;
    height: 100vh;
}

.img {
    top: 0;
    left: 0;
    position: absolute;
    background: url("https://i.imgur.com/NcY2rp9.png");
    width: 50vw;
    height: 100vh;
}

.grad {
    top: 15vh;
    right: 10vw;
    width: 7em;
    height: 7em;
    background: linear-gradient(
        520deg,
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    position: absolute;
    filter: blur(80px);
    -webkit-filter: blur(80px);
}

.grad2 {
    top: 70vh;
    left: 60vw;
    width: 9em;
    height: 9em;
    background: linear-gradient(
        520deg,
        rgba(50, 255, 200, 1),
        rgba(150, 255, 200, 1)
    );
    position: absolute;
    filter: blur(100px);
    -webkit-filter: blur(100px);
}

.form {
    top: 7vh;
    left: 50vw;
    position: absolute;
    width: 50vw;
    height: 100vh;
}

form {
    margin-top: 0;
    margin-left: 5vw;
}

.title {
    width: 5.5ch;
    font-size: 9em;
    background: linear-gradient(to right, transparent, transparent),
        linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

input {
    width: 30vw;
    height: 2em;
    margin-top: 5vh;
    padding: 7px 15px;
    font-size: 2em;
    font-weight: 700;
    border: 2px solid #000;
    border-bottom: 6px solid #000;
    color: #222;
    transition: all 0.5s;
}

input:focus {
    border: 1px solid transparent;
    outline: none;
}

input::placeholder {
    font-weight: 500;
    color: #aaa;
}

button[type="submit"] {
    margin-top: 0.5vh;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    margin-left: calc(15vw - 1em);
    background-color: transparent;
    padding: 0;
    font-size: 2em;
    border: 5px solid #000;
    transition: 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #000;
    color: #fff;
    transform: rotateZ(90deg);
    border-color: #000;
}

.new-user {
    margin-top: 2vh;
}

.login {
    text-decoration: underline;
    color: #000;
    font-weight: 700;
}

.login:hover,
.login:focus {
    text-decoration: none;
}

.flash {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    font-size: 1.5rem;
    margin-top: 0;
    padding: 0.5em 1em;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 968px) {
    * {
        overflow-x: hidden;
        overflow-y: initial;
    }
    .intro {
        display: block;
    }
    .img {
        position: absolute;
        height: 10vh;
        width: 100vw;
        top: 0;
        left: 0;
    }
    .form {
        left: 0;
        top: 10vh;
        position: absolute;
        text-align: center;
        margin-top: 90px;
        width: 100vw;
    }
    .title {
        width: auto;
        font-size: 9em;
    }
    form {
        margin-top: 0;
        margin-left: 0;
    }
    input {
        width: 70vw;
        height: 2em;
        margin-top: 3vh;
    }
    button[type="submit"] {
        margin-left: 0;
    }
    .new-user {
        text-align: left;
        margin-left: 15vw;
    }
}
